<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
<channel>
	<title><%=repo.name%></title>
	<description><%=repo.description%></description>
	<link><%=repo.url%></link>
	<lastBuildDate><%= repo.end_date %></lastBuildDate>
	<pubDate><%= repo.start_date %></pubDate>

	<% repo.commits.each do |commit|%>
	<item>
		<title><%= commit.message %></title>
		<description>
			<% if commit.added
				commit.added.each do |filename| %>
					Added <%= filename %>
				<% end
			end
			if commit.modified
				commit.modified.each do |filename| %>
					Modified <%= filename %>
				<% end
			end
			if commit.deleted
				commit.deleted.each do |filename| %>
					Deleted <%= filename %>
				<%end
			end %>
		</description>
		<link><%= commit.url %></link>
		<guid><%= commit.id %></guid>
		<pubDate><%= commit.timestamp %></pubDate>
	</item>
 	<% end %>
</channel>
</rss>
